/* 1440 - 900 */

.character-wrapper {
    display: flex;
    flex-flow: column;
    padding: 2em;
    width: 17%;
    height: 28em;
    border: 2px solid black;
    box-shadow: 5px 2px 5px black;
    margin-bottom: 3em;
    margin-top: 3em;
    background-color: #E3D8C3;

}

.character-wrapper img {
    height: 20em;
    
}

.character-wrapper:hover img {
    width: 13.2em;
    cursor: pointer;
    
}

.character-wrapper h4 {
    border-top: 2px solid grey;
    font-size: x-large;

}

.character-wrapper q {
    font-size: small;
    text-align: center;

}

/*compus chicas */

@media (max-width: 1100px){
    .character-wrapper {    
        width: 30%;
        
    }
    .character-wrapper q {        
        width: 100%;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
}

/* tablet */

@media (max-width: 767px){

    .character-wrapper {
        width: 17%;       
        
    }
    
    .character-wrapper img {
        height: 10em;
        
    }

    .character-wrapper h4 {    
        font-size: medium;
    
    }

    .character-wrapper q {
        font-size: small;
    }
}

/* tablet chicas */

@media (max-width: 541px){

    .character-wrapper {    
        width: 30%;
        height: 20em; 
        
    }
    
    .character-wrapper img {
        height: 10em;
        
    }

    .character-wrapper h4 {    
        font-size: medium;
    
    }

    .character-wrapper q {
        font-size: small;
    }
}

/* mobile */

@media (max-width: 460px){

    .character-wrapper {    
        padding: 2em;
        width: 50%;
        height: 20em;
        
    }
    
    .character-wrapper img {
        height: 15em;
        
    }
}